* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color: rgb(121, 51, 51);

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
}

h2,
h3 {
    text-transform: capitalize;
}

p {
    line-height: 1.5rem;
}

#hero {
    background-image: url(../assets/images/child-7279091_640.jpg);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero div {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 30rem;
    top: 5rem;
    right: 3rem;
    height: 50vh;
    padding: 3rem 2rem 0;
}

/*--------------------------------------------------------------------------------------*/

#services h2 {
    margin: 2rem 4rem 1rem;
}

#services .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
    padding: 3rem 5rem;

}

#services .services div {
    background-color: var(--color);
    padding: 2rem 3rem;
    border-radius: 5px;
    color: #fff;
}

i {
    font-size: 2rem;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

/*--------------------------------------------------------------------------------------*/
#contact {
    margin: 5rem;
}

#contact .contact {
    box-shadow: 1px 1px 2px;
    margin-left: 10rem;
    width: 50rem;
    padding: 2rem;

    h3 {
        margin: .5rem 0;
    }
}

#contact input {
    outline: none;
    display: block;
    padding: .5rem 1rem;
    margin: 1rem;
    width: 90%;
    color: var(--color);
}

button {
    display: block;
    margin: auto;
    color: #fff;
    padding: 1rem 2rem;
    background-color: var(--color);
    border-radius: 5px;
    border: none;
}